a {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  display: block;
}

hr {
  width: 80%;
  color: #555;
}

.list {
  display: block;
  padding: 15px 0;
}

.category {
  width: 25%;
  float: left;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
}

.underline {
  width: 80%;
  height: 2px;
  visibility: hidden;
}

.year-title {
  line-height: 1.2;
  font-size: 20pt;
  text-align: center;
  margin-top: 30px;
}

/* paper */
.hide {
  display: none;
}

.paper {
  line-height: 2;
  font-size: 14pt;
  overflow: auto;
  text-align: left;
  margin: 15px 0;
}

.paper-title {
  font-weight: bold;
}

.paper-conference {
  font-style: italic;
}

.paper-img {
  float: right;
  max-height: 100%;
  max-width: 150px;
  height: auto;
  width: auto;
  margin-right: 10%;
  border: 1px solid darkgrey;
}

.col {
  float: left;
}

.col.s1 {
  width: 40%;
}

.col.s2 {
  width: 50%;
}
